NEXT_PUBLIC_SUPABASE_URL=https://qwmprkojccomzoigjmmd.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF3bXBya29qY2NvbXpvaWdqbW1kIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI3ODYyMTMsImV4cCI6MjA5ODM2MjIxM30.l9ikilFFardwO8i55OlVlaOIyBRJOXPrb6c4_CZZJ9w
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InF3bXBya29qY2NvbXpvaWdqbW1kIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4Mjc4NjIxMywiZXhwIjoyMDk4MzYyMjEzfQ.ssR46GEpiTw6gU7U_0MyXVCl-sK_jQVz9XBSHSoPGF4